<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sklep Internetowy</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <div class="container-fluid">
        <!-- Pasek górny -->
        <div class="row g-4 align-items-center justify-content-between" style="background-color: whitesmoke">
            <!-- Lewa kolumna -->
            <div class="col-auto">
                <% if (user && user.role === 'admin') { %>
                    <button onclick="window.location.href='/add-new-product'" class="btn btn-success ms-2">Dodaj produkt</button>
                <% } %>
            </div>
    
            <!-- Środkowa kolumna (Tytuł) -->
            <div class="col-auto">
                <h1 class="m-0" >Sklep</h1>
            </div>
    
            <!-- Prawa kolumna (Ikony) -->
            <div class="col-auto">
                <button onclick="window.location.href='/my-account'" class="btn btn-transparent me-2">
                    <i class="bi bi-person-fill"></i>
                </button>
                <% if (!user || user.role === 'user') { %>
                <button onclick="window.location.href='/cart'" class="btn btn-transparent" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover">
                    <i class="bi bi-cart-fill"></i>
                </button>
                <% } %>
            </div>
        </div>

        <% if (message) { %>
            <div id="message" class="row justify-content-center text-center">
                <div class="col-auto" style = "background-color: whitesmoke; padding: 20px; border-radius: 5px;">
                    <%= message %>
                </div>
            </div>
            <script>
                setTimeout(function() {
                  const messageElement = document.getElementById('message');
                  if (messageElement) {
                    messageElement.style.display = 'none';
                  }
                }, 3000);
            </script>
        <% } %>   


        <!-- Lista produktów -->
        <div class="row g-4 justify-content-evenly align-items-center">
            <% products.forEach(product => { %>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card" style="background-color: whitesmoke;">
                        <a href="/product/<%= product.id %>">
                            <img src="/res/juka.jpeg" class="card-img-top" >
                        </a>
                    
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div>
                                <h5 class="card-title"><%= product.name %></h5>
                                <p class="card-text"></p>Cena: <%= product.price %> PLN</p>
                            </div>
                            <% if (!user || user.role !== 'admin') { %>
                                <form action="/add-to-cart/<%= product.id %>" method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-transparent">
                                        <i class="bi bi-cart-plus" style="font-size: 2rem;"></i>
                                    </button>
                                </form>
                            <% } %>
                            <% if (user && user.role === 'admin') { %>
                                <!-- Przycisk edycji -->
                                <a href="/edit-product/<%= product.id %>">Edit</a>
                                <!-- Przycisk usuwania -->
                                <form action="/delete-product/<%= product.id %>" method="POST" style="display:inline;">
                                    <button type="submit" style="color:red; cursor: pointer;">&#10060;</button>
                                </form>
                            <% } %>
                        </div>
                        
                            


                            
                        
                    </div>
                </div>
             <% }) %>
            
        </div>
        
    </div>
    
        
       
        
   
</body>
</html>
